<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.bootcss.com/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/Mock.js/1.0.1-beta3/mock-min.js"></script>
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>
<body>
    <div class="welcome">
        <h1>Hello Vue.js !</h1>
    </div>
    <div id="app">
        <table>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>书名</th>
                    <th>作者</th>
                    <th>价格</th>
                    <th>管理</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in books">
                    <td>{{item.number}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.author}}</td>
                    <td>{{item.price}}</td>
                    <td>
                        <button v-on:click='deleteBook(index)'>删除</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr><td>总价 {{amounts}}</td></tr>
            </tfoot>
        </table>
        <div class="controller">
            <h3>添加书籍</h3>
            <hr>
            <form class="list" v-on:submit.prevent='addBook'>
                <div class="row">
                    <span>书名</span>
                    <input type="text" name="name" v-model='book.name' >
                </div>
                <div class="row">
                    <span>作者</span>
                    <input type="text" name="author" v-model='book.author' >
                </div>
                <div class="row">
                    <span>价格</span>
                    <input type="text" name="price" v-model='book.price' >
                </div>
                <div class="row">
                    <input type="submit" value="添加" class="submit">
                </div>
            </form>
        </div>
    </div>

    <script src="./main.js"></script>
</body>
</html>